@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Css aplicado en pagina de Inicio*/


html{
    background-color: rgb(22, 22, 22);
}

.contenedor{
 display: flex;
 justify-content: center;
 margin-top: 7%;
 gap: 20px;
}

.foto{
    border-radius: 200px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    border: 15px solid rgb(58, 58, 58);
    object-fit: cover;
    display: grid;
}
 

header{
   display: grid;
   grid-template-columns: repeat(2,1fr);
}

.contenedor_nav{
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 5%;
}

header a{
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

.contenedor_logo{
    display: flex;
    gap: 10px;
    margin: 1%;
}

.contenedor_logo p{
    padding-top: 1.5%;
    font-size: 20px;
    color: white;
}

.logo{
    width: 50px;
    height: 50px;
    border-radius: 100px;

}

header a:hover{
    text-decoration: underline;
    color: white;
}

.title{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
}

h1{
    font-size: 70px;
    color: white;
}

h2{
    color: grey ;
}

p{
    color: rgb(143, 143, 143);
}

h3{
    font-family: cursive;
    color: rgb(70, 70, 70);
}

h4{
    color:white;
    font-size: 20px;

}

.hr-text{
    width: 10%;
}

hr{
    margin-top: 2%;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 2%;
}

button{
    border-radius: 100px;
    width: 150px;
    height: 50px;
    padding: 0.3rem;
    background-color: rgb(70, 70, 70);
    color: white;
    border-color: white;
}

button:hover{
    background-color: rgb(0, 119, 255);
    border-color: rgb(0, 119, 255);
    cursor: pointer;
    transition: 0.7s;
}

aside{
margin-left: 1%;
margin-top: 3%;
}

.contenedor_objects{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.fa-solid{
    color: white;
    margin-top: 1%;
}

.zona1{
    grid-column-start: 1;
    margin-left: 2%;
}

.zona2{
    grid-column-start: 2;
    margin-left: 2%;
}

.footer_list{
    color: rgb(143, 143, 143);
    margin-top: 1%;
}

.contenedorlist{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contenedorlist2{
    display: flex;
    justify-content: flex-end;
}

.contenedorlist a{
    text-decoration: none;
    color: rgb(143, 143, 143);
}


/*Css aplicado en pagina de Pefil*/

.estilo_aside{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

/*Css aplicado en pagina experiencia y educacion*/

ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}

/*Css aplicado en pagina objetivo*/

.estilo_aside4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    gap: 20px;
}



@media screen and (max-width: 576px) {
    *{
        margin: none;
        padding: none;
        box-sizing: border-box;
       }
   
    .contenedor_header{
    display: flex;
    flex-direction: row;
    gap: 20px;
   }

.contenedor_foto{
    margin: 0;
}

   .foto{
    width: 180px;
    height: 180px;
    cursor: pointer;
   }

   .title{
    margin: 0;
    justify-content: center;
    align-items: center;
   }

   h1{
    font-size: 35px;
    margin-right: 52%;
   }

   .asidee{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }

   .estilo_aside{
    margin: 0;
   }
 
   h3{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   hr{
    margin-left: 10%;
    margin-top: 2%;
   }
}