@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Css aplicado en pagina de Inicio*/



html {
    background-color: rgb(22, 22, 22);
}

.contenedor {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    gap: 20px;
}

.foto {
    border-radius: 200px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    border: 15px solid rgb(58, 58, 58);
    object-fit: cover;
    display: grid;
}


header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contenedor_nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding-top: 5%;
    margin-right: 1%;
}

header a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
}

.contenedor_logo {
    display: flex;
    gap: 10px;
    margin: 1%;}

.contenedor_logo > p{
    color: white;
    padding-top: 5%;
}



.logo {
    width: 50px;
    height: 50px;
    border-radius: 100px;

}

header a:hover {
    text-decoration: underline;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5%;
}

h1 {
    font-size: 70px;
    color: white;
}

h2 {
    color: grey;
}

h3 {
    font-family: cursive;
    color: rgb(70, 70, 70);
}

h4 {
    color: white;
    font-size: 20px;

}

.hr-text {
    width: 10%;
}

hr {
    margin-top: 10px;
}



.buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 2%;
}

button {
    border-radius: 100px;
    width: 150px;
    height: 50px;
    padding: 0.3rem;
    background-color: rgb(70, 70, 70);
    color: white;
    border-color: white;
}

button:focus {
    border-color: rgb(0, 119, 255);
    cursor: pointer;

}

aside {
    margin-left: 1%;
    margin-top: 2%;
}

.contenedor_objects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fa-solid {
    color: white;
    margin-top: 1%;
}

.zona1 {
    grid-column-start: 1;
    margin-left: 2%;
}

.zona2 {
    grid-column-start: 2;
    margin-left: 2%;
}

.footer_list {
    color: rgb(143, 143, 143);
    margin-top: 1%;
}

.contenedorlist {
    display: flex;
    flex-direction: row;
    gap: 20px;}
    a{
        text-decoration: none;
        color: rgb(143, 143, 143);
    }

.contenedorlist2 {
    display: flex;
    justify-content: flex-end;}
    i{
        padding-top: 5px;
    }



/*Css aplicado en pagina de Pefil*/

.contenedor_perfil{
    margin-top: 8%;
    display: flex;
    gap: 200px;
}


.contenedor_foto2{
    display: flex;
    margin-left: 15%;
}



.estilo_aside {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: gray;
    border-radius: 10px;}
    h3{
        color: black;
    }

.estilo_aside > p{
    color: white;
}    

.hr-perfil{
    margin-top: 11.5%;
}

/*Css aplicado en pagina experiencia*/

.contenedor_experiencia{
    margin-top: 5%;
    display: flex;
    gap: 200px;
}

.contenedor_foto3{
    display: flex;
    margin-left: 15%;
    padding-top: 3%;
}

ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: gray;
    border-radius: 10px;}
    h3{
        color: black;
    }

ul > p{
    color: white;
}    


.hr-exp{
    margin-top: 6%;
}

/*Css aplicado en pagina educacion*/

.contenedor_educacion{
    margin-top: 5%;
    display: flex;
    gap: 200px;
}

.contenedor_foto4{
    display: flex;
    margin-left: 15%;
    padding-top: 3%;
}

.contenedor_lista2{
    margin-top: 12%;
    margin-left: 10%;
    height: 350px;
    background-color: gray;
    border-radius: 10px;}
    ul{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        list-style: none;
    }
    p{
        color: white;
    }
    h3{
        color: black;
    }

.hr-edu{
    margin-top: 12%;
}

/*Css aplicado en pagina contacto*/

.hr-contact {
    border-color: rgb(94, 94, 94);
    border-width: 1px;
}

.section_contact {
    background-color: rgb(44, 44, 44);

}

.estilo_aside4 {
    margin-top: 5%;
}

h1 {
    display: flex;
    padding-bottom: 2%;
    padding-left: 5%;
}

p {
    display: flex;
    justify-content: right;
    padding-right: 10px
}

.mapa {
    display: flex;
    justify-content: center;
}

.mapa>iframe {
    padding-top: 4%;
    height: 50%;
    width: 80%;
}

.info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 2%;
    margin-left: 1%;
}

.fa-solid {
    color: rgb(143, 143, 143);
}

.div_location {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10%;
    grid-column-start: 1;
}

p {
    padding-top: 15px;
    color: grey;
}

.div_message {
    display: flex;
    gap: 20px;
    margin-top: 1%;
    grid-column-start: 1;
}

a {
    text-decoration: none;
    color: grey;
    padding-top: 5px;
}

.div_call {
    display: flex;
    gap: 20px;
    margin-top: 2%;
    grid-column-start: 1;
}

a {
    color: grey;
    padding-top: 30px;
    text-decoration: none;
}


.input-Box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}

span {
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500px;
    font-size: 18px;
}

input {
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
}

textarea {
    background-color: rgb(22, 22, 22);
    padding: 10px;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
    height: 250px;
    width: 500px;
}

textarea:focus {
    border: solid rgb(65, 65, 230);
    color: grey;
}

input:focus {
    border: solid rgb(65, 65, 230);
    color: grey;
}


@media screen and (max-width: 576px) {
/*MediaQuery General*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .contenedor_nav > a{ 
        font-size: 15px;
        margin: 0;
        padding: 0;
    }

    .contenedor_logo{
        display: flex;
    }

    .contenedor_logo > a{
        padding: 0;
        margin: 1%;
    }

    .contenedor_logo > p{
        display: none;
    }
    
    header{
        display: flex;
    }

    .contenedorlist{
        display: flex;
        width: 20%;
    }


    .contenedorlist > a{
        font-size: 12px;
    }
    
    .contenedorlist2{
        display: flex;
    }

    .contenedorlist2 > p{
        font-size: 12px;
    }



    /*MediaQuery aplicado a Inicio*/

    .contenedor_header {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .contenedor_foto {
        margin: 0;
    }

    .foto {
        width: 180px;
        height: 180px;
        cursor: pointer;
    }

    .title {
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .title > h1{
        margin: 0;
        padding: 0;
    }

    button{
        width: 120px;
    }

    .title > p{
        padding: 0;
    }

    h1 {
        font-size: 35px;
        margin-right: 52%;
    }

    .asidee {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .estilo_aside {
        margin: 0;
    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    hr {
        margin-left: 10%;
        margin-top: 2%;
    }


/*Mediaquery aplicado en pagina de contacto*/

  
.section_contact{
    width: 100%;
   }



   hr{
    margin: 0;
   }

.info{
        display: flex;
        flex-direction: column;
    }

.div_location{
    display: block;
}

.div_location > p{
    display: block;;
}

.div_call{
    display: block;
}

.div_call > p{
    display: block;;
}

.div_message{
    display: block;
}

.div_message > p{
    display: block;
}

.div_call > a{
    color: white;
}

.div_message > a{
    color: white;
}


.contenedor_divs{
    display: flex;
    flex-direction: column;
}

input{
width: 100%;
}

/*Mediaquery aplicado en pagina de Educacion*/

.contenedor_educacion{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.contenedor_foto4{
    display: flex;
    justify-content: center;
    margin: 0;
}

.contenedor_lista2{
    margin: 0;
}


/*Mediaquery aplicado en pagina de Experiencia*/

.contenedor_experiencia{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.contenedor_foto3{
    display: flex;
    justify-content: center;
    margin: 0;
}

.contenedor_lista{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contenedor_lista > p{
    display: block;
}


/*Mediaquery aplicado en pagina de Perfil*/

.contenedor_perfil{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.contenedor_foto2{
    display: flex;
    justify-content: center;
    margin: 0;
}

.estilo_aside{
    display: block;
}

.estilo_aside > p{
    display: block;
}

}
