
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_header{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    grid-template-rows: repeat(1,1fr);
}

.contenedor_foto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto{
    border-radius: 200px;
    width: 400px;
    height: 400px;
    cursor: pointer;
    border: 5px solid rgb(6, 116, 189);
    object-fit: cover;
    display: grid;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
}

h1{
    font-size: 100px;
}

h3{
    font-family: cursive;
    color: cornflowerblue;
}

.asidee{
    display: grid;
    grid-template-columns: repeat(2,0.5fr);
    grid-template-rows: repeat(2,0.5fr);
}

.estilo_aside{
    margin-left: 300px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

hr{
    width:75%;
}

.contenedor_lista{
    padding-top: 2%;
}

.estilo_aside2{
    margin-top: 5%;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.estilo_aside3{
    grid-column-start: 2;
}

.estilo_aside4{
    grid-column-start: 2;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 576px) {
    *{
        margin: none;
        padding: none;
        box-sizing: border-box;
       }
   
    .contenedor_header{
    display: flex;
    flex-direction: row;
    gap: 20px;
   }

   .foto{
    width: 100px;
    height: 100px;
    cursor: pointer;
   }

   .title{
    margin: 0;
    justify-content: center;
    align-items: center;
   }

   h1{
    font-size: 50px;
    margin-right: 28%;
   }

   .asidee{
    display: flex;
    justify-content: center;
    flex-direction: column;
   }

   .estilo_aside{
    margin: 0;
   }
 
   h3{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   hr{
    margin-left: 10%;
    margin-top: 2%;
   }
}